<form action="#" th:action="@{/assets/add-asset}" th:object="${asset}" method="post">
    <label for="category">Category</label>
    <select th:field="*{category}" id="category">
        <option value="-1">-- Select a Category --</option>
        <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}">
    </select>
    <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>

    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

    <label for="initialValue">Amount</label>
    <input type="number"
           id="initialValue"
           name="initialValue"
           step="0.01"
           th:value="${initialValue}" />
    <span th:if="${#fields.hasErrors('initialValue')}" th:errors="*{initialValue}"></span>

    <label for="currency">Currency</label>
    <select th:field="*{currency}" id="currency">
        <option th:each="currency : ${currencies}" th:text="${currency.currencyCode}" th:value="${currency.currencyCode}">
    </select>

    <label for="startDate">Start Date</label>
    <input type="date" th:field="*{startDate}" id="startDate" placeholder="startDate">
    <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
    <input type="submit" value="Add Asset">
</form>