<head>
  <meta charset="UTF-8">
  <title>Expenses List</title>
  <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
</head>

<div th:switch="${expenses}">
  <h2 th:case="null">No records!</h2>
  <div th:case="*">
    <h2>Expenses</h2>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="expense : ${expenses}">
        <td th:text="${expense.operationDate}"></td>
        <td th:text="${expense.amount}"></td>
        <td th:text="${expense.description}"></td>
        <td><a th:href="@{/edit-income/{id}(id=${expense.id})}">Edit</a></td>
        <td><a th:href="@{/delete-income/{id}(id=${expense.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/add-expenses">Add a new record</a></p>
</div>
