<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Balance</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
        let chartData = [[${chartData}]];
        let activeButton = [[${activeButton}]];
    </script>
    <script th:src="@{/js/index.js}" type="text/javascript"></script>
</head>

<body>
<div class="balance-container">
    <h1>Баланс</h1>

    <div class="month-selector">
        <button><</button>
        <span>Місяць</span>
        <button>></button>
    </div>

    <div class="navigation">
        <button id='expenses-button' onclick="expenses()">Витрати</button>
        <button id='income-button' onclick="income()">Доходи</button>
        <button id='categories-button' onclick="categories()">Категорії</button>
        <button id='statistics-button' onclick="statistics()">Статистика</button>
    </div>

    <div id="chart_div"></div>

    <div class="records-section">
        <div th:switch="${totalByCategory}">
            <h2 th:case="null">No data</h2>
            <div th:case="*">
                <div class="record-category" th:each="byCategory : ${totalByCategory}">
                    <h3 th:text="${byCategory.key}"/>
                    <span th:text="${byCategory.value} + ' ₴'">___ ₴</span>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <a href="/add-income" class="btn">Додати дохід</a>
        <a href="/add-expenses" class="btn">Додати витрату</a>
    </div>
</div>
</body>
</html>