<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Журнал Операцій</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script th:src="@{/js/common.js}" type="text/javascript"></script>
    <script th:src="@{/js/transactions.js}" type="text/javascript"></script>
</head>
<body>
<div id="dialog-confirm" title="Видалити запис?" style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Запис буде видалено без можливості відновлення. Впевнені?</p>
</div>
<div id="import-dialog" title="Імпортування даних з банковської виписки" style="display:none;">
    <form id="uploadForm" th:action="@{/assets/import}" method="post" enctype="multipart/form-data" class="mb-4">
        <div class="mb-3">
            <label for="file" class="form-label">Оберіть файл</label>
            <input type="file" class="form-control" id="file" name="file" required>
        </div>

        <div class="mb-3">
            <label for="fileType" class="form-label">Тип виписки</label>
            <select class="form-select" id="fileType" name="fileType" required>
                <option value="privatbank">Приватбанк</option>
                <option value="monobank">Monobank</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="assetId" class="form-label">Рахунок</label>
            <select class="form-select" id="assetId" name="assetId" required>
                <option value="">-- Оберіть рахунок --</option>
                <option th:each="asset : ${accounts}" th:value="${asset.id}" th:text="${asset.name}"></option>
            </select>
        </div>
    </form>
</div>
<div class="container">
    <aside class="sidebar">
        <h3>Персональні фінанси</h3>
        <nav>
            <ul>
                <li><a href="/">Витрати</a></li>
                <li><a href="/income">Доходи</a></li>
                <li><a href="/assets">Активи</a></li>
                <li><a href="/transactions" class="active">Журнал транзакцій</a></li>
            </ul>
        </nav>
    </aside>

    <main class="dashboard-content">

        <form method="get" th:action="@{/transactions}" onsubmit="cleanEmptyFieldsAndSubmit(this); return false;">
            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Тип</span>
                </div>
                <div>
                    <select name="typeFilter" id="typeFilter" class="btn btn-outline-secondary dropdown-toggle">
                        <option value="">-- Всі --</option>
                        <option value="INCOME" th:selected="${typeFilter == 'INCOME'}">ДОХОДИ</option>
                        <option value="EXPENSE" th:selected="${typeFilter == 'EXPENSE'}">ВИТРАТИ</option>
                    </select>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">Період</span>
                </div>
                <input class="form-control" type="date" name="startDate" th:value="${startDate}">
                <input class="form-control" type="date" name="endDate" th:value="${endDate}">
                <button class="btn btn-outline-secondary" type="submit">Оновити</button>
            </div>
            <div class="input-group mb-3 mt-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Категорія</span>
                </div>
                <div>
                    <select name="categoryFilter" class="btn btn-outline-secondary dropdown-toggle">
                        <option value="">-- Всі --</option>
                        <option th:each="name : ${categoryNames}"
                                th:value="${name}"
                                th:text="${name}"
                                th:selected="${name == categoryFilter}">
                        </option>
                    </select>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">Валюта</span>
                </div>
                <div>
                    <select name="currencyFilter" id="currencyFilter" class="btn btn-outline-secondary dropdown-toggle">
                        <option value="">-- Всі --</option>
                        <option th:each="currency : ${currencies}" th:text="${currency.currencyCode}"
                                th:selected="${currencyFilter == currency.currencyCode}"
                                th:value="${currency.currencyCode}">
                    </select>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">Актив</span>
                </div>
                <div>
                    <select name="assetFilter" id="assetFilter" class="btn btn-outline-secondary dropdown-toggle">
                        <option value="">-- Всі --</option>
                        <option th:each="asset : ${assets}" th:text="${asset.name}"
                                th:selected="${assetFilter == asset.id}"
                                th:value="${asset.id}">
                    </select>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">Опис</span>
                </div>
                <input type="text" class="form-control" name="descriptionFilter" th:value="${descriptionFilter}">
            </div>
            <section>
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Тип</th>
                            <th>Дата</th>
                            <th>Категорія</th>
                            <th>Валюта</th>
                            <th>Сума</th>
                            <th>Сума в гривні</th>
                            <th>Актив</th>
                            <th>Опис</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${transactions.empty}">
                            <td colspan="9">Транзакцій не знайдено</td>
                        </tr>
                        <tr th:each="transaction : ${transactions}">
                            <td th:text="${transaction.type}"></td>
                            <td th:text="${transaction.operationDate}"></td>
                            <td th:text="${transaction.category}"></td>
                            <td th:text="${transaction.currency}"></td>
                            <td th:text="${transaction.amount}"></td>
                            <td th:text="${transaction.amountMainCurrency}"></td>
                            <td th:text="${transaction.asset?.name} ?: '—'"></td>
                            <td th:text="${transaction.description}"></td>
                            <td>
                                <a th:href="@{${transaction.type == 'INCOME'} ? '/income/edit/' + ${transaction.id} : '/expense/edit/' + ${transaction.id}}"
                                   class="btn btn-primary btn-sm">
                                    Редагувати
                                </a>
                            </td>
                            <td><button class="btn btn-primary btn-sm" th:onclick="showDeleteDialog(event, [[${transaction.type}]], [[${transaction.id}]])">Видалити</button></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <footer class="footer">
                <div class="footer-content">
                    <nav class="footer-links">
                        <a href="/" class="btn btn-outline-secondary">На головну</a>
                        <button type="button" class="btn btn-outline-secondary btn-sm" th:onclick="showImportDialog(event)">Імпортувати</button>
                    </nav>
                </div>
            </footer>
        </form>
    </main>
</div>

</body>
</html>
